<template name="stage">
        <div style="width:60%; margin-left:20%;" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Ajouter un stage</h3>
                </div>
                <div style="padding-left: 23%;" class="panel-body">
                    <form class="ajouterStage">
                        <table>
                            <tr>
                                <div class="input-group">
                                    <span style="width: 130px;" class="input-group-addon" id="">Sujet:</span>
                                    <input name="matricule" style="width: 300px;" type="text" class="form-control" placeholder="Matricule" aria-describedby="sizing-addon2">
                                  </div>
                                  
                            </tr>
                            <br>
                            <tr>
                                <div class="input-group">
                                    <span style="width: 130px;" class="input-group-addon" id="sizing-addon2">Debut stage:</span>
                                    <input type="date" name="nom"  style="width: 300px;" class="form-control" placeholder="Nom" aria-describedby="sizing-addon2">
                                  </div>
                                  
                            </tr>
                            <br>
                            <tr>
                                <div class="input-group">
                                    <span style="width: 130px;" class="input-group-addon" id="sizing-addon2">Fin stage:</span>
                                    <input type="date" name="nom"  style="width: 300px;"  class="form-control" placeholder="Nom" aria-describedby="sizing-addon2">
                                  </div>
                                  
                            </tr>
                            <br>
                            <tr>
                                <div class="input-group">
                                    <span style="width: 130px;" class="input-group-addon" id="sizing-addon2">Nom Encadrant:</span>
                                    <input name="prenom"  style="width: 300px;" type="text" class="form-control" placeholder="Prénom" aria-describedby="sizing-addon2">
                                  </div>
                                  
                            </tr>
                            <br>
                            <tr>
                                <div class="input-group">
                                    <span style="width: 130px;" class="input-group-addon" id="sizing-addon2">Email Encadrant:</span>
                                    <input name="email"  style="width: 300px;" type="text" class="form-control" placeholder="Email" aria-describedby="sizing-addon2">
                                  </div>
                                  
                            </tr>
                            <br>
                            <tr>
                                <div class="input-group">
                                    <span style="width: 130px;" class="input-group-addon" id="sizing-addon2">GSM Encadrant:</span>
                                    <input name="gsm"  style="width: 300px;" type="text" class="form-control" placeholder="GSM" aria-describedby="sizing-addon2">
                                  </div>
                                  
                            </tr>
                            
                            
                        </table>
                        <br>
                        <input type="submit" value="Valider" class="btn btn-success" style="margin-left: 150px;width: 120px"/>
                    </form>
                </div>
            </div>
</template>