<template name="encadrant">

    <div style="width:60%; margin-left:20%;" class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Ajouter un encadrant</h3>
        </div>
        <div style="padding-left: 23%;" class="panel-body">
            <form class="ajouterEncadrant">
                <table>
                    <tr>
                        <div class="input-group">
                            <span style="width: 130px;" class="input-group-addon" id="sizing-addon2">Nom:</span>
                            <input name="nom"  style="width: 300px;" type="text" class="form-control" placeholder="Nom" aria-describedby="sizing-addon2">
                          </div>
                          
                    </tr>
                    <br>
                    <tr>
                        <div class="input-group">
                            <span style="width: 130px;" class="input-group-addon" id="sizing-addon2">Prénom:</span>
                            <input name="prenom"  style="width: 300px;" type="text" class="form-control" placeholder="Prénom" aria-describedby="sizing-addon2">
                          </div>
                          
                    </tr>
                    <br>
                    <tr>
                        <div class="input-group">
                            <span style="width: 130px;" class="input-group-addon" id="sizing-addon2">Email:</span>
                            <input name="email"  style="width: 300px;" type="text" class="form-control" placeholder="Email" aria-describedby="sizing-addon2">
                          </div>
                          
                    </tr>
                    <br>
                    <tr>
                        <div class="input-group">
                            <span style="width: 130px;" class="input-group-addon" id="sizing-addon2">GSM:</span>
                            <input name="gsm"  style="width: 300px;" type="text" class="form-control" placeholder="GSM" aria-describedby="sizing-addon2">
                          </div>
                          
                    </tr>
                    <br>
                    <tr>
                        <div class="input-group">
                            <span style="width: 130px;" class="input-group-addon" id="sizing-addon2">Filiere:</span>
                            <select name="filiere"  style="width: 300px;" type="text" class="form-control" aria-describedby="sizing-addon2">
                                
                                {{#each filieres}}
                                    <option value="{{code}}">{{name}}</option>
                                {{/each}}
                            </select>
                          </div>
                          
                    </tr>
                    <br>
                    <tr>
                        <div class="input-group">
                            <span style="width: 130px;" class="input-group-addon" id="sizing-addon2">Grade:</span>
                            <input name="grade"  style="width: 300px;" type="text" class="form-control" placeholder="Grade" aria-describedby="sizing-addon2">
                          </div>
                          
                    </tr>
                </table>
                <br>
                <input type="submit" value="Valider" class="btn btn-success" style="margin-left: 150px;width: 120px"/>
            </form>
        </div>
    </div>
<!-- <br>
<br>
<br>
<br>
<br>
<br>
    <table border="1">
        <tr>
            <td>matricule</td>
            <td>nom</td>
            <td>prenom</td>
            <td>email</td>
            <td>gsm</td>
            <td>action</td>
        </tr>
        {{#each stagiaires}}
        <tr>
            <td>{{matricule}}</td>
            <td>{{nom}}</td>
            <td>{{prenom}}</td>
            <td>{{email}}</td>
            <td>{{gsm}}</td>
            <td>
                <button name="delete" class="btnDelete">delete</button>
                <button name="Details" class="btnDetails">Detail</button>
            </td>
        </tr>
        {{/each}}
    </table>
    <br>
    <h4>upload</h4>
    <input type="file" name="upload" /> -->
</template>